# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled binaries
linux_bin/*

# Temp and undo files
*.swp
*.un~

# Compiled unit tests
test_hpp
documentation/
Doxyfile
