# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# temp and undo files
*.swp
*.un~

# compiled unit tests
test_hpp
documentation/
Doxyfile
